.header {
    display: flex;
    align-items: center;
    width: 100%;
    max-height: 50px;
    background-color: #040B29;
    padding: 20px 20px; 
}

h1 {
    height: 30px;
    width: auto;
    margin-top: 10px ;
    margin-left: 40px;
    color: aliceblue;
}