/* Set the height of html and body to 100% to ensure full viewport coverage */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Ensure .App covers the full height and uses flexbox to manage its children */
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure it covers the full viewport height */
  overflow: hidden;
  background-color: #030C28;
}
